
:root {
  --font-open-sans: 'Open Sans';
  --hero-color: light-dark(#A60063, #A60063);
  --hero-color-hover: light-dark(#950059, #AF1A73);
  --hero-color-pressed: light-dark(#85004F, #AE3D80);
  --hero-color-disabled: light-dark(#DEA0C5, #AE3D80);
  --primary-background: #F9A34B;
  --hero-color-light: #F4E1EC;
  --hero-color-forground-light: #F4E1EC;
  --focus-color: light-dark(#DEA0C5, #A60063);
  --surface-neutral-1: light-dark(#262627, #262627);
  --background-neutral-overlay-notheme-1: rgba(0, 0, 0, 0.6);
  --backgraund-neutral-0-nudge: light-dark(#ffffff, #262627);
  --backgraund-neutral-0-nidge-hover: light-dark(#F5F5F5, #323234);
  --backgraund-neutral-0-nudge-pressed: light-dark(#D3D3D4, #1C1C1C);
  --backgraund-neutral-0: light-dark(#ffffff, #1c1c1c);
  --backgraund-neutral-0-hover: light-dark(#F5F5F5, #323234);
  --backgraund-neutral-0-pressed: light-dark(#D3D3D4, #262627);
  --backgraund-neutral-0-selected: light-dark(#E8E8E8, #323234);
  --backgraund-neutral-1: #fff;
  --backgraund-neutral-1-hover: #323234;
  --backgraund-neutral-1-pressed: #646468;
  --backgraund-neutral-2: #2F2F30;
  --backgraund-neutral-2-hover: #373738;
  --backgraund-neutral-2-pressed: #404041;
  --backgraund-neutral-3: light-dark(#E8E8E8, #323234);
  --backgraund-transparent-0-hover: light-dark(rgba(255,255,255, 0.1), rgba(20, 20, 20, 0.1));
  --backgraund-transparent-0-pressed: light-dark(rgba(255,255,255, 0.2), rgba(20, 20, 20, 0.2));
  --backgraund-transparent-1-hover: light-dark(rgba(20, 20, 20, 0.05), rgba(255,255,255, 0.05));
  --backgraund-transparent-1-pressed: light-dark(rgba(20, 20, 20, 0.08), rgba(255,255,255, 0.08));
  --backgraund-transparent-1-selected: light-dark(rgba(20, 20, 20, 0.12), rgba(255,255,255, 0.12));
  --backcground-error-1: #FCEAE9;
  --backcground-error-1-hover: #F8CBC9;
  --backcground-error-1-pressed: #F2A09C;
  --backcground-error-2: #BB3F3A;
  --backcground-error-2-hover: #98332F;
  --backcground-error-2-pressed: #61211E;
  --forground-error: #98332F;
  --backcground-success-1: #E3F7EE;
  --backcground-success-1-hover: #B6ECD5;
  --backcground-success-1-pressed: #76DBAF;
  --backcground-success-2: #2BC784;
  --backcground-success-2-hover: #25AC72;
  --backcground-success-2-pressed: #1E8A5C;
  --forground-success:#18714C;
  --forground-inverse: #ffffff;
  --forgraund-inverse-notheme: #ffffff;
  --forgraund-inverse-notheme-disabled: #929295;
  --forgraund-inverse-no-theme: #ffffff;
  --forgraund-neutral-disabled: #929295;
  --forgraund-neutral-1: light-dark(#646468, #B7B7B9);
  --forground-neutral-2: light-dark(#262627, #ffffff);
  --border-inverse: #ffffff;
  --border-inverse-disabled: #B7B7B9;
  --border-neutral-1: light-dark(#ffffff, #141414);
  --border-neutral-2: light-dark(#D3D3D4, #646468);
  --border-neutral-3: light-dark(#646468, #D3D3D4);
  --border-neutral-4: light-dark(#262627, #F5F5F5);
  --border-disabled: light-dark(#B7B7B9, #929295);
  --border-error: light-dark(#98332F, #F8CBC9);
  --border-success: light-dark(#18714C, #B6ECD5);
  --scroll-thumb: light-dark(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2));
}