.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #FFFFFF;
    gap: 80px;
    font-family: 'Roboto', sans-serif;
}

.leftSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.logo {
    width: auto;
    height: auto;
    margin-bottom: 20px;
}

.rightSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    max-width: 400px;
    padding: 0 20px;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-wrapper {
        font-size: 4rem;
        color: #4D4D4D;
        margin-bottom: 10px;
    }
    .subTitle {
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 20px;
    }
    .signupLink {
        color: #F2952A;
        text-decoration: none;
    }
}

.label {
    color: #414651;
    font-size: 1.4rem;
    font-weight: 400;
}

.inputField {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: .8rem;
    font-size: 1.6rem;
    color: #717680;
}

.loginButton {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    background-color: #F9A34B;
    color: #FFFFFF;
    border: none;
    border-radius: .8rem;
    font-size: 1.4rem;
    cursor: pointer;
}

.rememberMeContainer {
    display: flex;
    align-items: center;
    margin: 8px 0;
}

.rememberMeLabel {
    margin-left: 8px;
    font-size: 1.4rem;
    font-weight: 400;
    cursor: pointer;
}

.forgotPasswordLink {
    margin-left: auto;
    font-size: 1.4rem;
    font-weight: 400;
    color: #F9A34B;
    text-decoration: none;
}

.dividerContainer {
    display: flex;
    align-items: center;
    margin: 16px 0;
}

.login__divider {
    flex: 1;
    height: 1px;
    background-color: #ccc;
}

.orText {
    margin: 0 8px;
    color: #999;
    font-size: 1.6rem;
    font-weight: 400;
}

.socialButton {
    width: 100%;
    padding: 12px;
    margin: 6px 0;
    border: 1px solid #ccc;
    background-color: #FFFFFF;
    font-size: 1.6rem;
    font-weight: 500;
    color: #414651;
    border-radius: .8rem;
    cursor: pointer;
}
