.link {
  padding: 10px 30px;
  border-radius: 8px;

  &__button {
    text-decoration: none;
  }
}

.link-primary {
  background: #F9A34B;
  a {
    color: #fff;
  }
  &.outline {
    background: #D0E3EBB2;
    color: #1B3A4B;
    border: 1px solid #1B3A4B;

    &:disabled {
      background: #D0E3EB;
      color: #7AA0BA;
      border: 1px solid #7AA0BA;
    }
  }
}

.link-secondary {
  background: #AEE6E6;
  a {
    color: #008080;
  }
}

.link-tertiary {
  background: #D0E3EBB2;
  border: .5px solid #1B3A4B;
  a {
    color: #000;
  }
  &.outline {
    display: inline-block;
    background: transparent;
    border: none;
    outline-style: none;
    padding: 0;

    a {
      color: #008080;
      text-decoration: underline;
      text-underline: #008080;
    }

    &:disabled {
      color: #7AA0BA;
    }
  }
}